
@font-face {
  font-family: 'TUVAbove-Bold';
  src: url('TUVAbove-Bold.eot?#iefix') format('embedded-opentype'),  url('TUVAbove-Bold.woff') format('woff'), url('TUVAbove-Bold.ttf')  format('truetype'), url('TUVAbove-Bold.svg#TUVAbove-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
